<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Viewer</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
	</head>
	<body>
		<div class="container">
			<div class="box">
				<h1 class="title has-text-centered">Image Viewer</h1>
				<div
					class="has-text-centered is-flex is-justify-content-center"
				>
					<img src="/image/{{ filename }}" alt="Image" />
				</div>
				<p class="has-text-centered my-2">
					Delete key: <code>{{ deletekey }}</code>
				</p>
				<p class="has-text-centered">
					Without the delete key, you cannot delete the image.
				</p>
				<a
					href="/delete?uid={{ filename.split('.')[0] }}&deletekey={{ deletekey }}"
					class="button my-2 is-danger is-fullwidth"
					>Delete</a
				>
				<button class="button is-success is-fullwidth" id="copy">
					Copy URL
				</button>
			</div>
		</div>
	</body>
	<style>
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			border: 1px solid black;
			border-radius: 10px;
		}
	</style>
	<script>
		document.getElementById("copy").addEventListener("click", () => {
			const url = `https://image.dfarkas.uk/image/{{ filename }}`;
			navigator.clipboard.writeText(url);
		});
	</script>
</html>
