<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Host</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
			integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<div class="container mt-6">
			<div class="box">
				<h1 class="title has-text-centered">Image Host</h1>
				<div
					class="has-text-centered is-flex is-justify-content-center"
				>
					<div class="file is-large has-name is-boxed">
						<label class="file-label">
							<input
								class="file-input"
								type="file"
								name="resume"
							/>
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label">Choose a file...</span>
							</span>
							<span class="file-name"> No file selected </span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="content has-text-centered">
				<p>
					Image Host by <a href="https://dfarkas.uk">David Farkas</a>
				</p>
			</div>
		</footer>
	</body>
	<style>
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	</style>
</html>
