<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Host</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
			integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		{{analytics}}
	</head>
	<body>
		<div class="container mt-6">
			<div class="box">
				<h1 class="title has-text-centered">Image Host</h1>
				<div
					class="has-text-centered is-flex is-justify-content-center"
				>
					<div class="file is-large has-name is-boxed">
						<label class="file-label">
							<input
								class="file-input"
								type="file"
								name="file"
								id="fileupload"
								accept="image/png, image/jpeg, image/webp, image/gif"
							/>
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label">Choose a file...</span>
							</span>
							<span class="file-name" id="filename">
								No file selected
							</span>
						</label>
					</div>
				</div>
				<div class="buttons is-centered mt-3">
					<button id="upload" class="button is-success is-large">
						Upload
					</button>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="content has-text-centered">
				<p>
					Image Host by <a href="https://dfarkas.uk">David Farkas</a>
				</p>
			</div>
		</footer>
	</body>
	<style>
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	</style>
	<script>
		document.getElementById("fileupload").onchange = function () {
			document.getElementById("filename").innerHTML = this.files[0].name;
		};
		document.getElementById("upload").onclick = function () {
			document.getElementById("upload").disabled = true;
			document.getElementById("upload").classList.add("is-loading");
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/upload", true);
			var data = new FormData();
			data.append("file", document.getElementById("fileupload").files[0]);
			xhr.send(data);
			xhr.onload = function () {
				document.getElementById("upload").disabled = false;
				document
					.getElementById("upload")
					.classList.remove("is-loading");
				var response = JSON.parse(xhr.responseText);
				if (response.error) {
					alert(response.error);
				} else {
					window.location.href =
						"/image/" +
						response.uid +
						"." +
						response.extension +
						"/frame" +
						"?deletekey=" +
						response.deletekey;
				}
			};
		};
		document.addEventListener("paste", (event) => {
			const items = (event.clipboardData || window.clipboardData).items;

			for (const item of items) {
				if (item.type.startsWith("image/")) {
					// Check if the item is an image
					const blob = item.getAsFile(); // Get the file blob
					const acceptedTypes = ["image/png", "image/jpeg"];

					if (blob && acceptedTypes.includes(blob.type)) {
						const dataTransfer = new DataTransfer(); // Create a DataTransfer object
						dataTransfer.items.add(blob); // Add the blob to the DataTransfer

						const fileUploadElement =
							document.getElementById("fileupload");
						if (
							fileUploadElement &&
							fileUploadElement.type === "file"
						) {
							fileUploadElement.files = dataTransfer.files; // Set the files property
						}

						// Optional: Trigger a change event if needed
						const event = new Event("change", { bubbles: true });
						fileUploadElement.dispatchEvent(event);
					}
				}
			}
		});
	</script>
</html>
